/* BASE
-------------------------------------------------- */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* HOME
-------------------------------------------------- */

.thumb {
  width: 250px;
  margin: 6px 4px;
  margin-top: 0;
}

.images {
  margin: 50px;
}

.images {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.images a:visited {
  background: yellow;
}

.group {
  text-align: center;
  font-size: 0;
}

.group.slides img,
.group.free {
  padding: 50px;
}

.small {
  max-width: 580px;
}

.medium {
  max-width: 740px;
}

.large {
  max-width: 1000px;
}

.image-row {
  display: block;
  position: relative;
}

.image-container {
  margin: 0 auto;
}


/* ERROR BLOB 
-------------------------------------------------- */


a.blob {
  display: block;
  position: absolute;
  z-index: 11;
  top: 50px; left: 50px; right: 50px; bottom: 50px;
  border-radius: 47%;
  background: #cfcfcf -webkit-linear-gradient(top, rgba(0,163,255,0) 40%, rgba(0,163,255,1)); /* For Safari 5.1 to 6.0 */
  background: #cfcfcf -o-linear-gradient(top, rgba(0,163,255,0) 40%, rgba(0,163,255,1)); /* For Opera 11.1 to 12.0 */
  background: #cfcfcf -moz-linear-gradient(top, rgba(0,163,255,0) 40%, rgba(0,163,255,1)); /* For Firefox 3.6 to 15 */
  background: #cfcfcf linear-gradient(to top, rgba(0,163,255,0) 40%, rgba(0,163,255,1)); /* Standard syntax (must be last) */
  cursor: pointer;
}


/* GRID 
-------------------------------------------------- */

.grid-wrap {
  clear: both;
  margin: 0;
  height: 100%;
  width: 100%;
}

.grid-value {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
}

.grid-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.grid-col.col-full:hover {
  background: yellow;
}

.grid-col.col-full.dormant:hover {
  background: cyan;
}

.col-full {
  width: 100%;
}

.col-one-half {
  width: 47%;
}

.col-one-third {
  width: 33.333%;
}

.col-two-thirds {
  width: 66.666%;
}

.col-one-quarter {
  width: 25%;
}

.col-three-quarters {
  width: 75%;
}

.col-one-fifth {
  width: 20%;
}

.col-two-fifths {
  width: 40%;
}

.col-three-fifths {
  width: 60%;
}

.col-one-sixth {
  width: 16.667%;
}

.dormant div {
  opacity: 0.4;
}

.grid-value.title {
  padding-left: 1.5em;
  text-indent: -1.5em;
}


/* SOMETHING ELSE
-------------------------------------------------- */

footer {
  margin: 80px 40px 40px;
  display: block;
  text-align: center;
  display: none;
}

nav.content {
  position: fixed;
  top: 20px;
  left: 18px;
  width: 16px;
  z-index: 888;
}

nav a.back {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent;
  transition: .1s all ease-out;
  -webkit-transition: .1s all ease-out;
  -moz-transition: .1s all ease-out;
  -o-transition: .1s all ease-out;
}

nav a.back {
  margin-top: 0;
  background: url('../../assets/images/bubble.png');
}

.block {
  display: block;
  height: 100%;
  width: 100%;
}

.blob {
  display: block;
  position: fixed;
  top: 18px; left: 18px; right: 18px; bottom: 18px;
  border-radius: 47%;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
}

.mini-blob {
  width: 250px;
  height: 250px;
  border-radius: 47%;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */
  display: inline-block;
}

nav h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.related {
  height: 100%;
  margin: 0;
  padding: 40px;
  list-style-type: none;
}

.related img {
  max-height: 250px;
  max-width: 250px;
}

.related .item {
  display: inline-block;
  margin: 0 11px 11px 0;
  vertical-align: middle;
}

.group.slides img,
.group.large-slides img,
ul.related {
  /*display: none;*/
}

nav.next-prev-index {
  margin: 0;
  text-align: center;
  display: inline-block;
  position: fixed;
  z-index: 880;
  bottom: 11px;
  right: 11px;
}

.content-info {
  text-align: center;
}

.content-info a {
  background: white;
}

.content-info a:hover {
  background: yellow;
}

.content-info a.item,
.content-info a.item:hover {
  background: transparent;
}

.content-info h1 {
  font-size: 1em;
}

.content-info h1,
.content-info .type,
.content-info .year {
  display: none;
}

.end-block {
  clear: both;
  height: 100px;
  display: block;
}


/* BOUNCING BUBBLE
--------------------------------------------------------- */

#bouncer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#bouncer {
  z-index:10;
  position:absolute;
  top:200px;
  left:860px;
}


/* CONTAINERS
--------------------------------------------------------- */

.index-container {
  /*margin: 50px;*/
}

.index-container-snippet {
  display: block;
}

.paper {
  background: white;
  padding: 50px;
  margin-bottom: -1em;
}

.writing h1 {
  font-size: 26px;
  line-height: 33px;
}

.writing {
  font-size: 24px;
  line-height: 33px;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 50px;
  font-family: Georgia, serif;
}

.writing p:first-child {
  margin-top: 0;
}


/* MEDIA QUERIES
--------------------------------------------------------- */

@media screen and (max-width: 1440px) {

  nav.work .credits {
    display: none;
  }

  .grid-value.large {
    width: 33.333%;
  }

  .grid-value {
    width: 22.222%;
  }

}

@media screen and (max-width: 1100px) {

  nav.work .link {
    display: none;
  }

  .grid-value.large {
    width: 50%;
  }

  .grid-value {
    width: 25%;
  }

  .grid-col.col-one-third {
    width: 100%;
    padding: 0 20px;
  }

  .grid-col.col-one-third p {
    max-width: 360px;
    margin: 1em auto;
  }

}

@media screen and (max-width: 600px) {

  nav.work .type {
    display: none;
  }

  .grid-value.large {
    width: 75%;
  }

  .grid-value {
    width: 25%;
  }

  .year {
    text-align: right;
  }

}

@media screen and (max-width: 400px) {

  nav.work .year {
    display: none;
  }

  .grid-value {
    width: 100%;
  }

  .thumb {
    margin: 0;
    margin-top: 4px;
    max-width: 100%;
  }

  .paper {
    padding: 20px;
  }

  .group.slides {
    padding: 50px;
  }

  .group.slides img {
    padding: 0;
  }

}